

body {
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: white;
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f1f1f;
  padding: 10px 20px;
}

.logo {
  flex: 0 0 auto;
}

.user-logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.search-bar {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
}

#searchInput {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: white;
  font-size: 16px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
}

.gallery-item {
  position: relative;
  flex: 1 1 calc(33.333% - 10px);
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 10px;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.2s;
  border-radius: 10px;
}

.gallery-item img:hover {
  transform: scale(1.05);
}

.image-prompt {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #FFFAFA;
  padding: 5px 10px;
}

.creator-name {
  margin: 0;
}
.footer{
  text-align:center;
}

.gallery-container {
  margin:20px 20px; 
  padding: 1rem;
}